@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&family=Open+Sans&display=swap');
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Variables */
:root{
  --accent-light:#b284be;
  --text-dark:#303030;
 --background-color:#FDFFFC;
 --header-bg:#f1f1f1;
 --header-text:#6b705c;
 --header-hover:#0096c7;

}
/* /HEADER */

header{
  /* visibility: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background:var(--background-color);
  transition: all 300ms ease-in-out;
  color: #D1BAC8;
  
}

header nav{
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 0px;

}
header nav h1 a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Open Sans';
    color: var(--text-dark);

}
.menu{
  cursor: pointer;
}
.logo,
.menu{
  z-index: 5;
}
.nav-open{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 50vh;
  background-color:var(--header-bg);
  z-index: 1;
  color: var(--header-text);
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  justify-items: center;
  align-items: center;
  text-align: center;
  transform: translateY(-100%);
}
.nav-open h3{
    font-size: 28px;
    padding-bottom: 40px;
}
.nav-open p{
  font-size: 18px;
}
.nav-open  .social{
  grid-column:2/4 ;
}
.nav-open .social h3{
  visibility: hidden;
}
.nav-open .contact {
  visibility: hidden;
}
.nav-open .social-links{
  padding: 0px 20px;
}
.social-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.social-links ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.social-links ul  li{
  list-style: none;
  margin: 1rem;
}
.social-links ul  li a{
  text-decoration: none;
  color:var(--header-text);
  margin: 1rem;
  font-size: 1.2rem;
  font-family: "Open Sans";
}
.social-links ul  li a:hover{
   /* background-color:#b284be; */
  color:var(--header-hover);
  }

/* MAIN */
.main{
  display: flex;
  flex-direction: column;

}
.section{
  height: calc(100vh + 100px) ;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
.section .back-arrow{
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
}
.section .back-arrow img{
  width: 2.5rem;
}

/* Heading Illustration */


.section .ill-heading-1{
  font-family: "Nova Oval";
  font-size: 3rem;
  text-shadow: 4px 4px #000000;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
  color: var(--header-text);
}
/* Right */
.right{
  flex-direction: column-reverse;
}
/* Images */
.section .img400{
  width: 350px;
}
.section .img300{
  width: 300px;
}
/* ******************************** */
/* Descriptions */
.section .desc{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.section .desc h2{
font-family: "Nova Oval";
}
.section .desc h4{
  font-family: "Open Sans";
  }
/* Backgrounds */
.c1{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M3.25 10h13.5M10 3.25v13.5'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(144, 15%, 87%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
  
}
.c3 {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='34.129' height='45' patternTransform='scale(6) rotate(35)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M2.51 1.597A23.682 23.682 0 000 1.72v32.65c2.18-2 4.176-4.072 5.844-5.915 3.188-3.523 9.14-2.133 10.242 2.488a5.048 5.048 0 01-.467 3.649c-1.5 2.829-3.843 2.848-5.616 2.316-1.343-.403-2.579.882-2.085 2.193.878 2.334 3.46 4.9 10.724 4.18 5.05-.5 10.712-4.53 15.487-8.911V1.72c-7.355.728-16.01 8.948-21.33 14.827-3.188 3.522-9.14 2.133-10.242-2.489a5.05 5.05 0 01.466-3.648C4.525 7.58 6.867 7.56 8.64 8.092c1.342.403 2.578-.88 2.085-2.192-.77-2.042-2.842-4.262-8.214-4.303z'  stroke-width='1' stroke='none' fill='hsla(259, 0%, 100%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-size: contain;
  background-repeat: no-repeat;
}
.c4{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='80' patternTransform='scale(4) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(50, 69%, 85%, 0)'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='hsla(259, 0%, 100%, 1)' fill='none'/><path d='M-20.133 24.568C-13.178 24.932-6.452 27.376 0 30c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='hsla(0, 0%, 100%, 1)' fill='none'/><path d='M-20.133 44.568C-13.178 44.932-6.452 47.376 0 50c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='hsla(199, 0%, 100%, 1)' fill='none'/><path d='M-20.133 64.568C-13.178 64.932-6.452 67.376 0 70c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='hsla(0, 0%, 100%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.c6{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M40 45a5 5 0 110-10 5 5 0 010 10zM0 45a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm40 0a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(259, 59%, 59%, 0)'/><path d='M20 25a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 100%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.c7{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.282' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M34.641-20v80m34.64-40L0-20m69.282 80L0 20m69.282 0L0 60m69.282-80L0 20m69.282-40v80M0-20v80M34.64 40l11.547-20m11.547 20l11.547 20M34.641 40h23.094m11.547-20L57.735 40M46.188 20L34.641 40l11.547 20h23.094L80.83 40 69.282 20H46.188zM34.641 40l11.547-20m11.547 20l11.547 20M34.641 40h23.094m11.547-20L57.735 40M46.188 20L34.641 40l11.547 20h23.094L80.83 40 69.282 20H46.188zM34.641 0l11.547-20M57.735 0l11.547 20M34.642 0h23.093m11.547-20L57.735 0M46.188-20L34.641 0l11.547 20h23.094L80.83 0 69.282-20H46.188zM34.641 40L23.094 20M11.547 40L0 60m34.64-20H11.548M0 20l11.547 20m11.547-20l11.547 20-11.547 20H0l-11.547-20L0 20h23.094zM34.641 0L23.094-20M11.547 0L0 20M34.64 0H11.548M0-20L11.547 0m11.547-20L34.641 0 23.094 20H0L-11.547 0 0-20h23.094z'  stroke-width='1' stroke='hsla(0, 0%, 100%, 0.64)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
  /* colors */
.c1{
  background-color:var(--header-bg);
  color: white;
}
.c2{
  background-color: white;
  color: black;
}
.c3{
  background-color: #D1BAC8;
  color: black;
}
.c4{
  background-color: #FFEFA8;
  color: black;
}
.c5{
  background-color: #C8DD9E;
  color: black;
}
.c6{
  background-color: #FFC37C;
  color: black;
}
.c7{
  background-color: #FF7575;
  color: black;
}






/* for screens 480 and above */
@media(min-width:480px){
.main{
  display: flex;
  flex-direction: column;

}
.section{
  height: calc(100vh + 100px) ;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
.section .back-arrow{
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
}
.section .back-arrow img{
  width: 2.5rem;
}

/* Heading Illustration */
.section .ill-heading-1{
  font-family: "Nova Oval";
  font-size: 4rem;
  text-shadow: 4px 4px #000000;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
  color: var(--header-text);
}
/* Right */
.right{
  flex-direction: column-reverse;
}
/* Images */
.section .img400{
  width: 350px;
}
.section .img300{
  width: 300px;
}
/* ******************************** */
/* Descriptions */
.section .desc{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.section .desc h2{
font-family: "Nova Oval";
}
.section .desc h4{
  font-family: "Open Sans";
  }
/* Backgrounds */
.c1{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M3.25 10h13.5M10 3.25v13.5'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(144, 15%, 87%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
  
}
.c3 {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='34.129' height='45' patternTransform='scale(6) rotate(35)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M2.51 1.597A23.682 23.682 0 000 1.72v32.65c2.18-2 4.176-4.072 5.844-5.915 3.188-3.523 9.14-2.133 10.242 2.488a5.048 5.048 0 01-.467 3.649c-1.5 2.829-3.843 2.848-5.616 2.316-1.343-.403-2.579.882-2.085 2.193.878 2.334 3.46 4.9 10.724 4.18 5.05-.5 10.712-4.53 15.487-8.911V1.72c-7.355.728-16.01 8.948-21.33 14.827-3.188 3.522-9.14 2.133-10.242-2.489a5.05 5.05 0 01.466-3.648C4.525 7.58 6.867 7.56 8.64 8.092c1.342.403 2.578-.88 2.085-2.192-.77-2.042-2.842-4.262-8.214-4.303z'  stroke-width='1' stroke='none' fill='hsla(259, 0%, 100%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-size: contain;
  background-repeat: no-repeat;
}
  /* colors */
.c1{
  background-color: var(--header-bg);
  color: white;
}
.c2{
  background-color: white;
  color: black;
}
/* .c3{
  background-color: #D1BAC8;
  color: black;
} */
.c4{
  background-color: #FFEFA8;
  color: black;
}
.c5{
  background-color: #C8DD9E;
  color: black;
}
.c6{
  background-color: #FFC37C;
  color: black;
}
.c7{
  background-color: #FF7575;
  color: black;
}
}








/* For screen width 1024px and above */

@media(min-width:1000px){

.main{
  display: flex;
  flex-direction: column;

}
.section{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.section .back-arrow{
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
}

.section .back-arrow img{
  width: 3rem;
}

/* Heading Illustration */
 .c1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section a{
  text-decoration: none;
  color:var(--header-text);
  font-size: 2rem;
  font-weight: 600;
  padding: 4px;
  border: 3px dashed var(--accent-light);
}
.section a:hover{
  
  color:var(--text-dark);
  font-size: 2rem;
  font-weight: 600;
  
}
.section .ill-heading-1{
  font-family: "Nova Oval";
  font-size: 5rem;
  text-shadow: 4px 4px #000000;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
  color: var(--header-text);
}
/* Right */
.right{
  flex-direction: row-reverse;
}
/* Images */
.section .img400{
  width: 400px;
}
.section .img300{
  width: 300px;
}
/* ******************************** */
/* Descriptions */
.section .desc{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section .desc h2{
font-family: "Nova Oval";
}
.section .desc h4{
  font-family: "Open Sans";
  }
  /* Backgrounds */
  .c1{
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M3.25 10h13.5M10 3.25v13.5'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(144, 15%, 87%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
  }
.c3 {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='34.129' height='45' patternTransform='scale(6) rotate(35)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(323, 0%, 100%, 1)'/><path d='M2.51 1.597A23.682 23.682 0 000 1.72v32.65c2.18-2 4.176-4.072 5.844-5.915 3.188-3.523 9.14-2.133 10.242 2.488a5.048 5.048 0 01-.467 3.649c-1.5 2.829-3.843 2.848-5.616 2.316-1.343-.403-2.579.882-2.085 2.193.878 2.334 3.46 4.9 10.724 4.18 5.05-.5 10.712-4.53 15.487-8.911V1.72c-7.355.728-16.01 8.948-21.33 14.827-3.188 3.522-9.14 2.133-10.242-2.489a5.05 5.05 0 01.466-3.648C4.525 7.58 6.867 7.56 8.64 8.092c1.342.403 2.578-.88 2.085-2.192-.77-2.042-2.842-4.262-8.214-4.303z'  stroke-width='1' stroke='none' fill='hsla(323, 20%, 77%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-size: contain;
  background-repeat: no-repeat;
  
}
  /* colors */
.c1{
  background-color: var(--header-bg);
  color: white;
}
.c2{
  background-color: white;
  color: black;
}
/* .c3{
  background-color: #D1BAC8;
  color: black;
} */
.c4{
  background-color: #FFEFA8;
  color: black;
}
.c5{
  background-color: #C8DD9E;
  color: black;
}
.c6{
  background-color: #FFC37C;
  color: black;
}
.c7{
  background-color: #FF7575;
  color: black;
}
/* end */
}