*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --accent:#41246F;
  --accent-light:#b284be;
  --text-dark:#303030;
  --background-color:#ffffff;
  --footer-button-hover:#ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-dark);
  font-family: "Roboto",Helvetica,sans-serif;
}

.preload {
  background: radial-gradient(50% 50% at 50% 50%, rgba(254, 255, 255, 0.052) 2.65%, rgba(59, 62, 71, 0.2) 100%), #3B3E47;
  color: #EBF2F8;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preload p {
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  letter-spacing: 5px;
  -webkit-animation: text-clip 5s 0.6s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: text-clip 5s 0.6s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.preload .underline {
  position: relative;
  width: 550px;
  height: 1px;
  background-color: #EBF2F8;
  -webkit-animation: line-clip 3s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: line-clip 3s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

@-webkit-keyframes text-clip {
  from {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
            clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
  }
}

@keyframes text-clip {
  from {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
            clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
  }
}

@-webkit-keyframes line-clip {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
            clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  }
}

@keyframes line-clip {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
            clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  }
}

@-webkit-keyframes underline {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes underline {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

header nav h1 {
  font-size: 1.2rem;
  font-weight: 400;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #303030;
  margin: 1rem;
  font-size: 1.2rem;
}

header nav ul li a:hover {
  color: #b284be;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
}

.wrapper .heading-section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .heading-section h1 {
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  font-weight: 400;
}

.wrapper .homepage {
  height: 100vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  color: #303030;
  margin-left: 0rem;
  margin-right: 0rem;
  border-radius: 0rem;
  overflow: hidden;
}

.wrapper .homepage .hero-text {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 33;
}

.wrapper .homepage .hero-text h1 {
  font-size: 4.5rem;
  font-weight: 600;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.wrapper .homepage .hero-text h1 span {
  color: #41246F;
}

.wrapper .homepage .hero-text h2 {
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 400;
  z-index: 44;
}

.wrapper .homepage .hero-text h2 span {
  color: #41246F;
}

.wrapper .homepage .hero-text .button {
  margin: 0.5rem 0rem;
  width: 8rem;
  text-decoration: none;
  background: none;
  border: none;
  background-color: #41246F;
  color: #ffffff;
  padding: 0.6rem 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.wrapper .homepage .hero-text .button:hover {
  background-color: #b284be;
  color: #EDF6E5;
}

.wrapper .homepage .hero-text .button:active {
  background-color: #303030;
  color: #EDF6E5;
}

.wrapper .homepage .hero-text .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .homepage .hero-text .social-links li {
  margin-top: 1rem;
  margin-right: 2rem;
  list-style: none;
  font-size: 1.3rem;
}

.wrapper .homepage .hero-text .social-links li a {
  text-decoration: none;
  color: #303030;
}

.wrapper .homepage .hero-text .social-links li a:hover {
  color: #b284be;
  cursor: pointer;
  -webkit-transition: all 0.01s ease-in;
  transition: all 0.01s ease-in;
}

.wrapper .homepage .hero-svg {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .homepage .hero-svg img {
  width: 500px;
}

.wrapper .project-page {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  height: auto;
}

.wrapper .project-page .project-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .project-page .project-container .project-desc-container {
  width: 27.75rem;
  height: 18.13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrapper .project-page .project-container .project-desc-container h1 {
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  font-weight: 400;
}

.wrapper .project-page .project-container .project-desc-container p {
  margin: 1rem 0rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  font-family: "Roboto," Georgia, 'Times New Roman', Times, serif;
}

.wrapper .project-page .project-container .project-desc-container .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1rem;
}

.wrapper .project-page .project-container .project-desc-container .project-links li {
  list-style: none;
  margin-right: 1rem;
}

.wrapper .project-page .project-container .project-desc-container .project-links a {
  margin: 1rem 0rem;
  width: 8rem;
  text-decoration: none;
  background: none;
  border: none;
  background-color: #41246F;
  color: #ffffff;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.wrapper .project-page .project-container .project-desc-container .project-links a:hover {
  background-color: #b284be;
  color: #EDF6E5;
}

.wrapper .project-page .project-container .project-desc-container .project-links a:active {
  background-color: #303030;
  color: #EDF6E5;
}

.wrapper .project-page .project-container .project-image-container {
  background-color: black;
}

.wrapper .project-page .project-container .project-image-container .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.wrapper .project-page .project-container .project-image-container .img img {
  width: 45rem;
  -webkit-animation: image-zoom 5s ease-out both;
          animation: image-zoom 5s ease-out both;
}

.wrapper .project-page .project-container .gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

.wrapper .view-page {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.wrapper .view-page ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .view-page ul li {
  list-style: none;
}

.wrapper .view-page ul li a {
  font-family: "Roboto","Playfair Display",Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.wrapper .view-page ul li a:hover {
  color: #b284be;
}

.wrapper .about-page {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  height: auto;
}

.wrapper .about-page .about-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  height: 100vh;
}

.wrapper .about-page .about-container .left-column {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}

.wrapper .about-page .about-container .left-column .name-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .about-page .about-container .left-column .name-heading h1 {
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  letter-spacing: -1px;
  font-size: 3rem;
  font-weight: 600;
  color: var(--accent);
}

.wrapper .about-page .about-container .left-column .name-heading h2 {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  color: var(--accent-light);
}

.wrapper .about-page .about-container .left-column .about-text {
  margin: 1rem 0;
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 300;
  font-family: "Roboto",Arial, Helvetica, sans-serif;
}

.wrapper .about-page .about-container .right-column {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .about-page .about-container .right-column .about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .about-page .about-container .right-column .about-img img {
  width: 80%;
}

.wrapper .contact-page {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  height: 150vh;
}

.wrapper .contact-page .heading-section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #41246F;
}

.wrapper .contact-page .heading-section h1 {
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  font-weight: 400;
}

.wrapper .contact-page .left-column {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  position: relative;
  height: 100vh;
}

.wrapper .contact-page .right-column {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrapper .contact-page .right-column .form-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .contact-page .right-column .form-heading h1 {
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.wrapper .contact-page .right-column .form-heading h3 {
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 400;
}

.wrapper .contact-page .right-column .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Roboto", Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 1px;
}

.wrapper .contact-page .right-column .form-container form label, .wrapper .contact-page .right-column .form-container form input {
  width: 20rem;
  margin: 1rem;
}

.wrapper .contact-page .right-column .form-container form input {
  border: none;
  border-bottom: 1px solid black;
  background: none;
  position: relative;
  left: -5%;
}

.wrapper .contact-page .right-column .form-container form button {
  width: 8rem;
  height: 2.5rem;
  border: none;
  background-color: #41246F;
  color: #ffffff;
  font-size: 1rem;
}

.wrapper .contact-page .right-column .form-container form button:hover {
  background-color: #303030;
  color: #FFFFFF;
}

.wrapper .footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
}

.wrapper .footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .footer ul li {
  list-style: none;
}

.wrapper .footer ul li a {
  text-decoration: none;
  color: #ffffff;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.wrapper .footer ul li a:hover {
  color: #b284be;
}

.wrapper .footer h2 {
  font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 400;
}

.wrapper .footer h3 {
  font-size: 0.8rem;
}

.wrapper .footer .button {
  margin: 0.5rem;
  width: 8rem;
  text-decoration: none;
  background: none;
  border: none;
  background-color: #b284be;
  color: #EDF6E5;
  padding: 0.6rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.wrapper .footer .button:hover {
  background-color: #FAE6FA;
  color: #303030;
}

.wrapper .footer .button:active {
  background-color: #000000;
  color: #EDF6E5;
}

@-webkit-keyframes image-zoom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.07) translateY(-15px);
            transform: scale(1.07) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

@keyframes image-zoom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.07) translateY(-15px);
            transform: scale(1.07) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.scroll-up header {
  -webkit-filter: drop-shadow(0 -10px 20px #aaaaaa);
          filter: drop-shadow(0 -10px 20px #aaaaaa);
}

.scroll-down header {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}
/*# sourceMappingURL=style.css.map */